{% extends 'base.html' %}
{% block title %}OTP Verify{% endblock %}

{% block body %}
<div class="container my-5">
    {% if msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <h1 style="text-align: center;">Verify your OTP!</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Your OTP</label>
            <input type="number" name="otp" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your otp with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-danger">Verify</button>
    </form>
</div>
{% endblock %}